@media only screen and (max-width: 576px) {
  header .nav_container {
    flex-direction: column;
    width: 100%;
  }
  .banner_content {
    width: 100%;
    padding: 10px 0;
}
.orange_btn {
    width: 158px;
    height: 43px;
}
.banner_img_container img {
    height: 243px;
}
/* blog_container */
.blog_container{
    grid-template-columns: repeat(2, 1fr);
}
.blog_content {
    max-width: 241px;
    margin: 0 auto;
}

/* list_our_feature */
.list_our_feature {
    grid-template-columns: repeat(1, 1fr);
    margin-top: 50px
}
/* will_feature */
.will_love_feature_container {
    flex-direction: column-reverse;
    align-items: stretch;
    
    margin-top: 20px;
}
.will_love_img_div  {
    width: 90%;
    height: 523px;
    margin: 0 auto;
}
.list_content_div {
    width: 100%;
    margin-top: 41px;
}
.love_box_div {
    background-color: #96ea36;
}

  /* =======sponsors  section*/
 .client_container {
    flex-wrap: wrap;
}
}
